.card {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  &-content {
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    background: #46877f;
    backdrop-filter: blur(40px);
    cursor: pointer;
    &:hover{
      img{
        transform: scale(1.1);
        overflow: hidden;
      }
    }
  }
  &-image {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
    overflow: hidden;
    img {
      height: 22rem;
      width: 100%;
      max-width: 100%;
      transition: transform .5s ease;
    }

  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    max-width: 250px;
    min-height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
    a {
      width: 100%;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #fff;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .suggest-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    max-width: 100%;
    flex-wrap: wrap;
    flex: none;
    order: 1;
    flex-grow: 0;
    a {
      font-family: 'Poppins', sans-serif;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      margin-left: 3px;
    }
  }
}

