<app-header></app-header>
<section class="head-banner">
  <div class="book-info-block">
  <app-search-input (searchValue)="getSearchValue($event)"></app-search-input>

  <div class="toggle-book">
    <button mat-raised-button class="toggle-btn"  (click)="toggleCards('All')">All</button>
    <button mat-raised-button class="toggle-btn"  (click)="toggleCards('History')">History</button>
    <button mat-raised-button class="toggle-btn"  (click)="toggleCards('Business')">Business</button>
    <button mat-raised-button class="toggle-btn" (click)="toggleCards('Detective')">Detective</button>
    <button mat-raised-button class="toggle-btn" (click)="toggleCards('Psychology')">Psychology</button>
    <button mat-raised-button class="toggle-btn" (click)="toggleCards('Fantasy')">Fantasy</button>
  </div>
  </div>
  <div class="books-grid-count">
    {{titleCount}} <span>({{gridDataCount}})</span>
  </div>


</section>
<section class="books-grid">
  <book-card *ngFor="let book of gridDataBooks | async | search: searchValue"
             [book]="book"></book-card>
</section>
