<app-header></app-header>
<section class="details" *ngIf="book">
  <div class="details-header">
    <div class="header-container">
      <div class="breadcrumbs">
        <a routerLink="">Library</a>
        <p> / </p>
        <a routerLink="/">Books</a>
      </div>
      <h1 class="title"
      *ngIf="book.volumeInfo.title">{{book.volumeInfo.title}}</h1>
    </div>
  </div>
  <div class="details-wrapper">
    <div class="poster-wrapper">
      <img [src]="book.volumeInfo.imageLinks.thumbnail">
    </div>
    <div class="details-container">
      <div class="details-container__block authors-block"
      *ngIf="authors">
        <p class="label">Authors: </p>
        <p class="value">{{authors}}</p>
      </div>
      <div class="details-container__block date-block"
      *ngIf="book.volumeInfo.publishedDate">
        <p class="label">Publish Date: </p>
        <p class="value">{{book.volumeInfo.publishedDate}}</p>
      </div>
      <div class="details-container__block page-block"
      *ngIf="book.volumeInfo.pageCount">
        <p class="label">Page count: </p>
        <p class="value">{{book.volumeInfo.pageCount}}</p>
      </div>
      <div class="details-container__block category-block"
      *ngIf="book.volumeInfo.categories">
        <p class="label">Categories: </p>
        <p class="value">{{book.volumeInfo.categories}}</p>
      </div>
      <div class="details-container__block publisher-block"
      *ngIf="book.volumeInfo.publisher">
        <p class="label">Publisher: </p>
        <p class="value">{{book.volumeInfo.publisher}}</p>
      </div>
      <div class="details-container__overview description-block"
           *ngIf="book.volumeInfo.description">
        {{book.volumeInfo.description}}
      </div>
      <div class="details-container__block link-block"
      *ngIf="book.volumeInfo.infoLink">
        <p class="label">Link: </p>
        <a [href]="book.volumeInfo.infoLink"
           target="_blank"
        >{{book.volumeInfo.infoLink}}</a>
      </div>
    </div>
  </div>
</section>
